In [75]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_file_path ="C:/Users/remna/Desktop/Pandas_Assignment/04-Pandas/Homework/PyCitySchools/Resources/schools_complete.csv"
student_file_path ="C:/Users/remna/Desktop/Pandas_Assignment/04-Pandas/Homework/PyCitySchools/Resources/students_complete.csv"

# Read the csv files
school_data = pd.read_csv(school_file_path)

student_data = pd.read_csv(student_file_path)
student_data = pd.DataFrame(student_data)

In [22]:
# Total Number of Schools
Total_schools = school_data["School ID"].count()
Total_schools

15

In [23]:
# Total number of students
Total_students = school_data["size"].sum()
Total_students

39170

In [24]:
# Calculated the total budget
Total_budget = school_data["budget"].sum()
Total_budget

24649428

In [25]:
#Calculate the average math score
Average_math_score = student_data["math_score"].mean()
Average_math_score

78.98537145774827

In [26]:
Average_reading_score = student_data["reading_score"].mean()
Average_reading_score

81.87784018381414

In [27]:
# Percentage of students with a passing math score (70 or greater)
Passing_math_perc = (student_data.loc[student_data["math_score"]>=70]).count()["student_name"]
Passing_math_perc= Passing_math_perc / Total_students * 100
Passing_math_perc

74.9808526933878

In [13]:
# Percentage of students with a passing reading score (70 or greater)
Passing_reading_perc = (student_data.loc[student_data["reading_score"]>=70]).count()["student_name"]
Passing_reading_perc= Passing_reading_perc / Total_students * 100
Passing_reading_perc

85.80546336482001

In [28]:
# Overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Overall_Ave_score = (Passing_reading_perc + Passing_math_perc) / 2
Overall_Ave_score

80.39315802910392

In [29]:
# Create a dataframe to hold the above results
District_Summary = pd.DataFrame({"Total Schools": [Total_schools],
                                 "Total Students": [Total_students],
                                 "Total Budgets": [Total_budget],
                                 "Average Math Score": [Average_math_score],
                                 "Average Reading Score": [Average_reading_score],
                                 "% Passing Math": [Passing_math_perc],
                                 "% Passing Reading": [Passing_reading_perc],
                                 "Overall Passing Rate": [Overall_Ave_score]})
# Use Map to format all the columns
District_Summary["Average Math Score"] = District_Summary["Average Math Score"].map("{:.2f}".format)
District_Summary["Average Reading Score"] = District_Summary["Average Reading Score"].map("{:.2f}".format)
District_Summary["% Passing Math"] = District_Summary["% Passing Math"].map("{:.2f}".format)
District_Summary["% Passing Reading"] = District_Summary["% Passing Reading"].map("{:.2f}".format)
District_Summary["Overall Passing Rate"] = District_Summary["Overall Passing Rate"].map("{:.2f}".format)



District_Summary

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

In [35]:
# Merge schools and students
Stud_Sch_merge_df = pd.merge(school_data, student_data, on="school_name")
Stud_Sch_merge_df = Stud_Sch_merge_df.drop(['School ID', 'Student ID'], axis=1)
Stud_Sch_merge_df

,school_name,type,size,budget,student_name,gender,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,Paul Bradley,M,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,M,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,M,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,M,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,F,9th,97,84
5,Huang High School,District,2917,1910635,Bryan Miranda,M,9th,94,94
6,Huang High School,District,2917,1910635,Sheena Carter,F,11th,82,80
7,Huang High School,District,2917,1910635,Nicole Baker,F,12th,96,69
8,Huang High School,District,2917,1910635,Michael Roth,M,10th,95,87
9,Huang High School,District,2917,1910635,Matthew Greene,M,10th,96,84
10,Huang High School,District,2917,1910635,Andrew Alexander,M,10th,90,70
11,Huang High School,District,2917,1910635,Daniel Cooper,M,10th,78,77
12,Huang High School,District,2917,1910635,Brittney Walker,F,9th,64,79
13,Huang High School,District,2917,1910635,William Long,M,9th,71,79
14,Huang High School,District,2917,1910635,Tammy Hebert,F,10th,85,67
15,Huang High School,District,2917,1910635,Dr. Jordan Carson,M,11th,94,88
16,Huang High School,District,2917,1910635,Donald Zamora,M,9th,88,55
17,Huang High School,District,2917,1910635,Kimberly Santiago,F,9th,74,75
18,Huang High School,District,2917,1910635,Kevin Stevens,M,9th,64,69
19,Huang High School,District,2917,1910635,Brandi Lyons,F,9th,89,80
20,Huang High School,District,2917,1910635,Lisa Davis,F,10th,91,89
21,Huang High School,District,2917,1910635,Kristen Lopez,F,10th,90,77
22,Huang High School,District,2917,1910635,Kimberly Stewart,F,11th,99,84
23,Huang High School,District,2917,1910635,Christopher Parker,M,9th,81,68
24,Huang High School,District,2917,1910635,Chelsea Griffith,F,11th,85,73
25,Huang High School,District,2917,1910635,Cesar Morris,M,9th,92,70
26,Huang High School,District,2917,1910635,Melanie Decker,F,9th,63,85
27,Huang High School,District,2917,1910635,Tracey Oconnor,F,10th,80,58
28,Huang High School,District,2917,1910635,Kelly James,F,11th,73,55
29,Huang High School,District,2917,1910635,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...
39140,Thomas High School,Charter,1635,1043130,Cheyenne Hernandez,F,9th,76,99
39141,Thomas High School,Charter,1635,1043130,Jonathan Sullivan,M,10th,86,93
39142,Thomas High School,Charter,1635,1043130,Deborah Higgins DDS,F,10th,96,83
39143,Thomas High School,Charter,1635,1043130,Steven Jackson,M,11th,71,93
39144,Thomas High School,Charter,1635,1043130,Cristian Webster,M,12th,77,87
39145,Thomas High School,Charter,1635,1043130,Audrey Fry,F,10th,94,74
39146,Thomas High School,Charter,1635,1043130,Michael Carroll,M,9th,69,95
39147,Thomas High School,Charter,1635,1043130,Raymond Hawkins,M,10th,88,81
39148,Thomas High School,Charter,1635,1043130,Christopher Wilson,M,10th,89,89
39149,Thomas High School,Charter,1635,1043130,Glenda Fletcher,F,11th,82,93
39150,Thomas High School,Charter,1635,1043130,Jennifer Hamilton,F,11th,80,75
39151,Thomas High School,Charter,1635,1043130,Shannon Williams,F,10th,84,73
39152,Thomas High School,Charter,1635,1043130,Lori Moore,F,9th,98,84
39153,Thomas High School,Charter,1635,1043130,William Hubbard,M,9th,80,75
39154,Thomas High School,Charter,1635,1043130,Bradley Johnson,M,12th,91,71
39155,Thomas High School,Charter,1635,1043130,John Brooks,M,10th,92,98
39156,Thomas High School,Charter,1635,1043130,Stephanie Contreras,F,11th,79,95
39157,Thomas High School,Charter,1635,1043130,Kristen Gonzalez,F,9th,79,94
39158,Thomas High School,Charter,1635,1043130,Kari Holloway,F,10th,87,90
39159,Thomas High School,Charter,1635,1043130,Kimberly Cabrera,F,11th,85,72
39160,Thomas High School,Charter,1635,1043130,Katie Weaver,F,11th,89,86
39161,Thomas High School,Charter,1635,1043130,April Reyes,F,10th,70,84
39162,Thomas High School,Charter,1635,1043130,Derek Weeks,M,12th,94,77
39163,Thomas High School,Charter,1635,1043130,John Reese,M,11th,90,75
39164,Thomas High School,Charter,1635,1043130,Joseph Anthony,M,9th,97,76
39165,Thomas High School,Charter,1635,1043130,Donna Howard,F,12th,99,90
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,F,10th,95,70
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,F,9th,73,84
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,F,10th,99,90
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,F,11th,95,75

In [44]:
# Finding the indexes of school_name
School_index = school_data.set_index("school_name")
School_index
index = school_data.set_index("school_name")
grouped = index.groupby(["school_name"])

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [49]:
# Finding the index of Type
School_type = School_index["type"]
School_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [50]:
# Metric for ToTal Students
Total_Students = school_index["size"]
Total_Students

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [53]:
# Metric for ToTal Budget
Total_Budget = school_index["budget"]
Total_Budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [55]:
# Metric for Per Student Budget
Per_Student_Budget =Total_Budget/Total_Students
Per_Student_Budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [58]:
# Grouping in other to find Averages for Math and Reading
index = student_data.set_index("school_name")
grouped = index.groupby(["school_name"])
grouped

In [59]:
# Key metrics of Average Math Score
Average_Math_per_school = grouped['math_score'].mean()
Average_Math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [60]:

Average_Reading_per_school = grouped["reading_score"].mean()
Average_Reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [62]:
# Key metrics of percentages for passing Math
Passing_Math_perc = Stud_Sch_merge_df[(Stud_Sch_merge_df["math_score"] >= 70)]
Passing_Math_perc = Passing_Math_perc.groupby(["school_name"]).count()["student_name"] / Total_Students * 100
Passing_Math_perc

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [64]:
# Key metrics of percentages for Passing Reading
Passing_Reading_perc = Stud_Sch_merge_df[(Stud_Sch_merge_df["reading_score"] >= 70)]
Passing_Reading_perc = Passing_Reading_perc.groupby(["school_name"]).count()["student_name"] / Total_Students * 100
Passing_Reading_perc

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [65]:
# Key metrics Overall Passing Percenage Rate (Average of the above two)
Overall_passing_perc = (Passing_Reading_perc + Passing_Math_perc) /2
Overall_passing_perc

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [74]:
# Create a dataframe to hold the above results
School_Summary = pd.DataFrame({"School Names": [School_type],
                                 "Total Students": [Total_Students],
                                 "Total Schools Budget": [Total_Budget],
                                 "Per Student Budget": [Per_Student_Budget],
                                 "Average Mathematic Scores": [Average_Math_per_school],
                                 "Average Reading Scores": [Average_Reading_per_school],
                                 "Percentage Passing Math": [Passing_Math_perc],
                                 "Percentage Passing Reading": [Passing_Reading_perc],
                                 "Percentage Overall Passing": [Overall_passing_perc]})


School_Summary

,School Names,Total Students,Total Schools Budget,Per Student Budget,Average Mathematic Scores,Average Reading Scores,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
0,school_name Huang High School District ...,school_name Huang High School 2917 Figu...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 74.306672...